<div class="main">
<h1>Log In</h1>
<!-- POST BACK TO SESSIONS PATH instead of deafult posting back to USER CONTROLLER} -->
<%= form_for(@user, {url: sessions_path}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Log In' %>
  </div>
<% end %>

</div>
